*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}
.bd{
    width: 100%;
    display: flex;
    background:radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-radius: 10px ;
}
.red,.green{
    width: 50%;
    background: url(../Images/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    /* flex-wrap: wrap; */
   border-radius: 20px;
}

.green{
    background: linear-gradient(90deg,rgb(4, 94, 129) 0%, rgb(216, 31, 31) 50%, rgba(51, 42, 179, 0.767) 100%);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;      /* it will contro; the button to being strach */
    gap: 20px;
    border-radius: 20px;
}

.container{
    width: 100%;
    background:linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
      border-radius: 10px;
      gap: 20px;
      padding: 20px;
    
    
}
.container > div{
    /* width: calc(50% - 10px); */
    /* width: 100%; */
    height: 500px;
    background:  radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-radius: 10px;
    display: flex;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.item-1{order: 4;
    flex-grow: 1;
}
.item-2{order: 3;
    flex-grow: 2;
}
.item-3{order: 2;
    flex-grow: 3;
}
.item-4{order: 1;
    flex-grow: 4;
}